
.subject
{
    width: 350px;
    height:60px;
    background-color: rgb(13, 156, 223);
    text-align: center;
    border-radius: 10px;
    margin: auto;
    
}
.subject h3
{
    color: white;
    padding-top: 15px;
}
body div p
{
    direction: rtl;
}
.footer p 
{
    text-align: center;
}