@font-face
{
	font-family: Vazir;
	src: url('../fonts/Vazir.eot');
	src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Vazir.woff') format('woff'),
	url('../fonts/Vazir.ttf') format('truetype');
	font-weight: normal;
}

#navbarSupportedConten
{
	text-align: right;
}

.navBorder
{
	border-top: 2px solid #ff0000;
	opacity: 0.8;
}

header
{
	padding-bottom: 30px;
}

.definition
{
	height: 400px;
}
.definition h4
{ 
  background-color:#4285F4;
  border-radius: 5px;
  text-align: center;
}
.definition p {text-align: center;}

.news 
{
	height: 400px;
}
.news h4
{
	background-color: #DB4437;
	border-radius: 5px;
	text-align: center;
}

.pictureBox
{
	height: 400px;
}
.pictureBox h4
{
	background-color: #F4B400;
	border-radius: 5px;
	text-align: center;
}

.meetingPlace
{
	height: 400px;

}
.meetingPlace h4 
{
	background-color: #0F9D58;
	border-radius: 5px;
	text-align: center;
}

.map
{
	height: 250px;
}

footer
{
	text-align: center;
}

body
{
	font-family: Vazir;
	background-color: #fdfbff;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2392acab' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h4
{
	color: white;
}