<header>
  <div class="container-fluid" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="#"><img src="../imgs/logo.png" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
                <b>لاگ بیرجند</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedConten" aria-controls="navbarSupportedConten" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="ml-auto collapse navbar-collapse" id="navbarSupportedConten"  >
                {% for item in site.data.menu %}
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.url }}">{{ item.text }}<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                {% endfor %}
            </div>
    </nav>   
  </div>
</header>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


