<!DOCTYPE html>
<html>
    <head>
        <meta class="UTF_8">
        <meta name="viewport" content="width=device-width , initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/meetings.css">
        <title>شرح جلسات</title>
    </head>
    <body>
        <p>1398/02/04</p>
        <div class="subject">
            <h3>جلسه ی بعدی </h3>
        </div>
        <div class="sentences">
            <p> 
                  جلسه اول گروه کاربران گنو/لینوکس بیرجند  پنج شنبه مورخ 98.02.04 در محل دانشکده مهندسی دانشگاه بیرجند برگذار میشود
                  <br>  شرکت برای علاقه مندان رایگان است                   
             </p>
        </div>
        <div class="sign_in">
            <p>
                 جهت شرکت وثبت نام میتوانید در لینک زیر اقدام کنید
                 <br> <a href="">ثبت نام در جلسه </a>
            </p>
        </div>
        <div class="description">
            <p>
                 توضیحات :کارگاه توسط آقای امیر محمدی با موضوع کار با گیت خواهد بود
            </p>
        </div>
        <footer class="footer"> 
            <p> updated </p>
        </footer>
    </body>
</html>